body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}

body.day-theme {
    background-image: url(background.jpg);
    color: #333;
    background-color: #fff;
}

body.night-theme {
    background-image: url(background\ black.jpg);
    color: #ddd;
    background-color: #333;
}

header {
    background-color: #ff6347;
    color: white;
    padding: 1em 0;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.theme-toggle {
    background-color: #fff;
    color: #ff6347;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
}

main {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 20px;
}

section {
    margin-bottom: 2em;
}

.product {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 1%;
    border: 1px solid #ddd;
    padding: 1em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.product img {
    width: 45%;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    width: 10%;
    margin: 2%;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(2.05);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.social-media {
    margin-top: 1em;
}

.social-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 0.5em;
}